<section class="event-container">
  <section class="event-container-wrapper1">
    <section class="event-container-wrapper1-title">
      <h2>¿POR QUÉ ESTE EVENTO ES UNA OPORTUNIDAD ÚNICA?</h2>
    </section>

    <section class="event-container-item background-1">
      <section class="red-bar"></section>
      <p class="event-container-text">
        La medicina tradicional ha quedado atrás. La sobrecarga de trabajo, los
        procedimientos largos y los ingresos limitados están llevando a muchos
        médicos a buscar nuevas alternativas más rentables.
      </p>
    </section>
  </section>

  <section class="wrapper-items-2-3 background-2">
    <section class="event-container-item item-2">
      <section class="red-bar"></section>
      <p class="event-container-text">
        La estética íntima masculina es una de las industrias con mayor
        crecimiento en los próximos años. Hoy en día, un procedimiento de
        agrandamiento de miembro con ácido hialurónico puede generar los mismos
        ingresos que una cirugía de próstata, pero en menos de 15 minutos. Los
        pellets hormonales se han convertido en una solución premium para
        pacientes que buscan mejorar su calidad de vida.
      </p>
    </section>

    <!-- Item 3: comparte fondo en escritorio, fondo distinto en mobile -->
    <section class="event-container-item item-3">
      <section class="red-bar"></section>
      <p class="event-container-text">
        El problema es que la mayoría de los médicos no sabe cómo aplicar estos
        procedimientos ni cómo atraer pacientes de alto valor.
      </p>
    </section>
  </section>

  <section class="boton-wrapper">
    <a href="#" class="boton-exclusivo">ÚNETE AL GRUPO EXCLUSIVO</a>
  </section>
</section>

<style>
    .event-container{
        display: flex;
        flex-flow: column;
        justify-content: center;
        color: white;
    }

    .event-container-wrapper1{
        display: flex;
        flex-wrap: wrap;
        flex-flow: row;

    }

    .event-container-wrapper1-title{
        color: var(--red);
        font-weight: 900;
        font-size: clamp(1rem, 1.7vw, 1.75rem);
    }

    .background-1{
        background-image: url("/info_evento_1.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .background-2{
        background-image: url("/info_evento_2.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

</style>
