<section class="container-doctor-info">
  <section class="dr-ramallo-info">
    <section class="dr-ramallo-info-container">
      <div class="dr-ramallo-info-circle"></div>
        <img src="/ramallo_2.png" alt="Dr.Ramallo" class="dr-ramallo-info-image" />
    </section>
    <section class="dr-ramallo-info-text">
        <h2 class="dr-ramallo-info-title">DR. ÁLVARO RAMALLO</h2>
        <div class="dr-ramallo-info-whiteline"></div>
        <p class="dr-ramallo-info-subtitle">Médico especialista en medicina estética y cirugía plástica</p>
        <div class="dr-ramallo-info-whiteline"></div>
        <ul class="dr-ramallo-info-list">
            <li class="dr-ramallo-info-list-item list-item-1">Más de 25 años en el campo de la urología y <br>la sexología</li>
            <li class="dr-ramallo-info-list-item list-item-2">Pionero en procedimientos de estética masculina <br>en Latinoamérica</li>
            <li class="dr-ramallo-info-list-item list-item-3">Ha invertido más de $40.000 en capacitaciones y certificaciones <br>
                internacionales</li>
            <li class="dr-ramallo-info-list-item list-item-4">Ha capacitado a más de [x] médicos en <br>procedimientos innovadores</li>
            <li class="dr-ramallo-info-list-item list-item-5">Ha desarrollado un método exclusivo que permite dominar estas <br>técnicas
                en poco tiempo y aplicarlas con éxito <br>en consulta</li>
        </ul>
    </section>
</section>
<section class="container-booking-info">
    <section class="container-booking-info-calendar">
        <svg width="100" height="100" viewBox="0 0 121 134" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
                d="M35.8338 5.5V30.1M85.1672 5.5V30.1M5.00049 54.7H116M17.3338 17.8H103.667C110.479 17.8 116 23.3069 116 30.1V116.2C116 122.993 110.479 128.5 103.667 128.5H17.3338C10.5223 128.5 5.00049 122.993 5.00049 116.2V73.15V30.1C5.00049 23.3069 10.5223 17.8 17.3338 17.8Z"
                stroke="white" stroke-width="10" stroke-linecap="round" stroke-linejoin="round" />
        </svg>
        <div class="container-booking-info-text">
          <h2 class="container-booking-info-title">RESERVA TU LUGAR</h2>
          <p>ENSEÑARÁ TODO EN SU MASTERCLASS GRATUITA.<br /><strong>6 DE MAYO</strong></p>
        </div>

    </section>
    <section class="container-booking-info-button">
        <a href="#" class="container-booking-info-button-text">ÚNETE AHORA AL GRUPO EXCLUSIVO</a>
    </section>
</section>
</section>
<style>

.container-doctor-info {
  padding-top: 2rem;
  padding-bottom: 3rem; /* da espacio hacia abajo para que se vea la cabeza */
  background-color: #000;
  color: white;
  overflow-x: hidden;
  overflow-y: hidden;
  position: relative;
}

  .container-doctor-info::before,
  .container-doctor-info::after {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 20px;
    z-index: 3;
    pointer-events: none;
  }

  .container-doctor-info::before {
    top: 0;
    background: linear-gradient(to bottom, rgba(230, 72, 72, 0.5), transparent);
  }

  .container-doctor-info::after {
    bottom: 0;
    background: linear-gradient(to top, rgba(230, 72, 72, 0.5), transparent);
  }

.dr-ramallo-info {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}

.dr-ramallo-info-container {
  position: relative;
  width: 400px;
  height: 400px;
  flex-shrink: 0;
}

.dr-ramallo-info-circle {
  width: 90%;
  height: 90%;
  background: white;
  border-radius: 50%;
  position: absolute;
  bottom: 0;
  left: 3%;
  z-index: 0;
}

.dr-ramallo-info-image {
  position: absolute;
  bottom: 0;
  left: 10%;
  width: 80%;
  z-index: 1;
  object-fit: contain;
  border-radius: 48%;
}


/* Título y líneas */
.dr-ramallo-info-title {
  color: #e53935;
  font-size: 2.5rem;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
}

.dr-ramallo-info-subtitle {
  font-style: italic;
  font-size: 1.1rem;
  margin: 0.5rem 0;
  font-weight: 700;
}

.dr-ramallo-info-whiteline {
  width: 80%;
  height: 2px;
  background-color: white;
  margin: 0.5rem 0;
}

/* Lista */
.dr-ramallo-info-list {
  list-style: none;
  padding: 0;
  margin-top: 1rem;
}

.dr-ramallo-info-list-item {
  font-size: 1.1rem;
  line-height: 1.8;
  font-weight: 500;
  margin-bottom: 1rem;
  position: relative;
  padding-left: 1.2rem;
}

.dr-ramallo-info-list-item::before {
  content: '•';
  color: var(--red);
  position: absolute;
  left: 0;
  top: 0;
}

/* Booking Info */
.container-booking-info {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
  gap: 1.5rem;
}

.container-booking-info-calendar {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.container-booking-info-title {
  margin: 0;
  font-size: 1rem;
  font-weight: bold;
}

.container-booking-info-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.container-booking-info-text p {
  margin: 0.2rem 0 0 0;
  font-size: 0.95rem;
}

.container-booking-info-button-text {
    display: inline-block;
    margin-top: 20px;
    padding: 14px 24px;
    border: 2px solid var(--red);
    color: var(--red);
    background: transparent;
    border-radius: 15px;
    font-weight: 700;
    font-size: 1.45rem;
    text-align: center;
    text-decoration: none;
    transition:
      background 0.3s,
      color 0.3s;
    max-width: 300px;
}

.container-booking-info-button-text:hover {
  background-color: var(--red);
  color: white;
}

/* Responsive */
@media (max-width: 767px) {
  .container-doctor-info{
    padding-top: 6rem;
    padding-left: 0.3rem;
    padding-right: 1rem;
  }

  .dr-ramallo-info {
    flex-direction: column;
    gap: 2rem;
  }

  .dr-ramallo-info-list-item {
    font-size: 1rem;
    word-break: break-word;
  }

  .container-booking-info {
    flex-direction: column;
    text-align: center;
  }

  .container-booking-info-calendar {
    flex-direction: column;
  }

  .container-booking-info-button-text {
    width: 90%;
    text-align: center;
  }
}
</style>